* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  font-size: 3rem;
}

.heading {
  width: 40%;
  height: 8vh;
  text-align: center;
  margin: 2.5rem auto 1rem auto;
  font-family: "changa", sans-serif;
  color: white;
}

.buttonz {
  width: 30%;
  text-align: center;
  margin: auto;
}

button {
  font-family: "changa", sans-serif;
  width: 70px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 2px;
}

button:hover {
  border: 1px solid #f8f8ff;
}

.grid-resizer {
  text-align: center;
  margin: 1rem auto;
  color: white;
  font-family: "changa", sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  outline: none;
  background-color: grey;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slide:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 20px;
  background: white;
  cursor: pointer;
}

#value {
  color: white;
}

#grid-container {
  height: 70vh;
  width: 70vh;
  display: grid;
  border: 5px solid #f4eee8;
  margin: 2rem auto;
}

.inner-box {
  background-color: #ffff;
  border: 1px solid #000000;
}

.white {
  background-color: white;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 3rem;
  }
  .heading {
    width: 100%;
    height: 80%;
    text-align: center;
    margin: 2.5rem auto 0 auto;
    font-family: "changa", sans-serif;
    color: white;
  }

  #grid-container {
    max-width: 80%;
    min-height: 80%;
  }

  .buttonz {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
